body {
	background-color: #D7D7D7;
	text-align: center;
	font-family: "Times New Roman";
}

a:link {
	text-decoration: none;
	color: #0000EE;
}

a:visited {
	text-decoration: none;
	color: #0000EE;
}

a:hover {
	text-decoration: underline;
	color: #0000EE;
}

a:active {
	text-decoration: underline;
	color: #0000EE;
}
